:root {
  --tamanhoFontePrincipal: 1rem;
  --hoverColor: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica;
}

header {
  padding: 1.5em 0;
  box-shadow: 0 0 10px var(--hoverColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--tamanhoFontePrincipal);
}

header button {
  border: none;
  background-color: transparent;
  font-size: var(--tamanhoFontePrincipal);
  padding: 15px;
  border-radius: 15px;
  transition: 1s;
}

header button:hover {
  background-color: var(--hoverColor);
}

main {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  height: 450px;
  box-shadow: 0 0 10px var(--hoverColor);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--hoverColor);
}

.card img {
  box-shadow: 0 0 10px 3px var(--hoverColor);
  height: 70%;
}

.cardButtons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.cardButtons button {
  font-size: 2em;
  background-color: transparent;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deleteBtn {
  color: red;
}

.deleteBtn:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.readBtn:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
  opacity: 0;
  pointer-events: none; 
}

#formBox {
  transition: all 0.3s ease;
  position: fixed;
  width: clamp(300px, 450px, 600px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0eef1;
  border: none;
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0 0 10px var(--hoverColor);
  text-align: center;
}

input[type="text"],
input[type="url"] {
  padding: 10px;
  border-radius: 7px;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

#formBox > *,
form > * {
  margin-bottom: 20px;
}

#formBox button {
  width: 45%;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: red;
  color: white;
  font-size: var(--tamanhoFontePrincipal);
}

#formBox button[type="submit"] {
  background-color: green;
}

#formBox button:hover {
  background-image: linear-gradient(var(--hoverColor), var(--hoverColor));
}